*,
::after,
::before {
box-sizing: border-box; 
margin: 0;
padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family:  'din-arabic-light', sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  text-transform: capitalize;
}

@font-face {
  font-family: 'din-arabic-light';
  src: url('../assets/font/DINNEXTLTARABIC-LIGHT-1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-arabic-regular';
  src: url('../assets/font/DINNextLTArabic-Regular-4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-arabic-bold';
  src: url('../assets/font/DINNextLTArabic-Bold-3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

 .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding:0 32px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
a {
  font-size:16px;
  font-family: "din-arabic-bold";
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: "din-arabic-regular";
}

h1 {
  font-size:32px
}
h2 {
  font-size:26px
}
h3 {
  font-size:22px
}
p {
  font-size: 20px;
}

ul ,ol{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: 100%;
}

 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="submit"],
select {
  width: 100%;
  line-height: 40px;
  height: 22px;
  padding: 0px 16px;
  border: 1px solid #e8e8e8;
  font-family: inherit;
  font-size: 0.9em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

input::placeholder,
-webkit-input::placeholder,
-moz-input::placeholder,
-ms-input::placeholder,
-moz-input::placeholder {
  color: rgb(114, 114, 114);
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus {
  -webkit-box-shadow: 0 0 8px 0 #e9eaec;
  box-shadow: 0 0 8px 0 #e9eaec;
}
/*
input[disabled],
select[disabled] {
  background-color: rgba(230, 230, 230, 1);
  border: 1px solid rgba(179, 179, 179, 1);
  color: rgba(230, 230, 230, 1);
  cursor: not-allowed;
}
 */
 /***** FrameWork *****/
 .mainColor {
    background-color: #314455;
    color: #eee;
 }

 .closeAll {
  position: fixed;
  width:100%;
  height: 100%;
  top:0;
  left:0;
  right:0;
  bottom: 0;
 }
 
 .rotate180 {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

 /**** Start Main Navbar ****/

nav li {
  font-size:20px;
  color:#eee;
  font-family: "din-arabic-regular";
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

nav .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightPart{
  width:60%;
  display: flex;
  align-items: center;
}

.brandNameLogo {
  min-width:112px;
  max-width: 250px;
  background-color: rgba(147, 171, 192, 0);
  height: 100px;
  padding: 16px 0;
  margin-right:64px
}

nav .links {
width: calc(100% - 250px);
}

nav .links ul{
  display: flex;
  justify-content: space-between;
}

nav .links ul li{
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  z-index: 999;
} 

nav .links ul li span{
  margin-right:16px
} 

nav .user {
  font-size:24px
}

nav .user span{
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 999;
}

nav .user span:last-of-type{
  margin-left: 8px;
}

nav .links li:hover,nav span:hover{
  color:#97aabd
}

.welcome-msg:hover,.user-name:hover{
  color:#eee;
  cursor: default;
}

nav .links .link-menu {
  position: absolute;
  top:100%;
  left:-16px;
  width:180px;
  background-color: #314455;
  font-size: 16px;
  margin-top:34px;
  display: none;
}

nav .links .link-menu li{
  padding:8px 16px;
  display: flex;
  align-items: center;
  
}

nav .links .link-menu li:hover{
  background-color: #bdc4ca50;
}

nav .links .link-menu a{
  font-size: 16px;
  color: #eee;
}

/**** End Main Navbar ****/

/** Start Sub Navbar **/

.subNav {
  background-color: #fff;
  color:#314455;
}

.subNav .inner {
  padding:8px 0;
}

.headOfSubNav ,.contentOfSubNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headOfSubNav {
  margin-bottom:4px;
}

.pageName {
  padding-bottom: 8px;
}

.pageName h2{
  font-size:24px;
}

.searchSpace ,.fillters{
  width:35%;
}

.searchInput {
  position: relative;
  z-index: 888;
}

.searchInput input{
  height: 34px;
  border: none;
  border-bottom:2px solid #314455 ;
  background: transparent;
  border-radius: 4px;
  padding-left: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}


.searchInput input::placeholder{
  font-weight: bold;
  font-size:20px;
  letter-spacing: 1px;
}

.searchInput span{
  position: absolute;
  right:0;
  bottom: 0;
  color:#314455;
  padding:8px;
  border-radius: 50%;
  cursor: pointer;
}

.addNewBtn {
  position: relative;
  z-index: 888;
  min-width: 105px;
  text-align: center;
  padding: 16px 8px;
  font-weight: bold;
  line-height: 1em;
  font-size: 18px;
  background-color: #314455; 
  color:#eee;
  border: 2px solid #314455;
  cursor: pointer;
  padding-top: 13px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  border-radius: 4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;

}

.fillters {
  display: flex;
}

.fillters .fillter,.fillters .choose{
  margin:0 8px;
  cursor: pointer;
  position: relative;
  z-index: 888;
}

.fillter-icon ,.choose-icon{
  padding:0 8px;
}


.filter-menu,.choose-menu{
  position: absolute;
  top:calc(100% + 21px);
  background-color: #314455;
  font-size: 16px;
  left: 0;
  width: 150px;
  display:none;
}

.filter-menu li,.choose-menu li{
  padding:8px 16px;
  font-size: 16px;
  font-weight: 300;
  color: #eee;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.filter-menu li:hover,.choose-menu li:hover{
  background-color: #bdc4ca50;
}

/** End Sub Navbar **/

/**** Start Table Of Content Section ****/

.tableOfContent {
  margin: 16px 0;
}

.tableOfContent table{
  position: relative;
  z-index: 777;
  width:100%;
  height: 100%;
  box-shadow: 0px 0px 3px 0px slategrey;
  border-collapse:collapse
}

.tableOfContent table td,.tableOfContent table th{
  padding:4px 8px;
  width: auto;
}

.tableOfContent table th:first-of-type,.tableOfContent table th:last-of-type {
  width:10px
}

.sorts {
  margin-left: 8px;
  display: inline-block;
}

.sorts .fas{
  cursor: pointer;
}

.ellipsis {
  text-align: right;
}
.ellipsis-btn{
  display: block;
  cursor: pointer;
  position: relative;
  padding: 8px;
}

.ellipsisMenu {
  position: absolute;
  width: 200px;
  right: 2px;
  background-color: #314455;
  color: #eee;
  font-size: 16px;
  display: none;
  margin-top: 4px;
}

.ellipsisMenu li{
  padding:8px;
  border-bottom:0.5px solid #97aabd;
}

.ellipsisTap {
  display:flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.ellipsisAction {
  padding-right:20px;
}

/**** End Table Of Content Section ****/

/**** Start addNewForm Section ****/

.bagntion {
  background-color: #eee;
  padding:4px 16px;
  margin-bottom: 16px;
}

.formSection {
  padding: 16px;
  background-color: #eee;
}

.title {
  background-color: #fff;
  padding:4px 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.title span{
  margin-right: 8px;
  font-size: 1.2em;
}

.content {
  padding:0 16px;
  margin-bottom: 16px;
}

.content form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputContainer {
  width:30%;
  margin-bottom: 8px;
}

.input{
  margin-top:4px;
}

.input input{
  padding-left:4px;
  height:35px;
}

